/*  your css code here. If applicable */
h1,h2,h3{
	text-align:center;
}
li{
	list-style-type:none;
}
a{
	/* target:_blank; */
	text-decoration-line:none;
}
body{
	background-color:rgb(204, 204, 204)
}
.player_one,.player_two{
	background-color: rgb(255, 255, 255);
	padding:15px;
	border-radius:5px;
}

